.navbar {
    background-color: white;
    border-radius: 0px;
    box-shadow: inset 0px 0px 18px #d0d0d0,
        inset -7px -7px 18px #f0f0f0;
}

.logo-img {
    width: 15%;
    border-bottom: 1px solid transparent;
}

.nav a{
   
    font-size: 18px;
    color: black !important;

}
.nav p{
    margin-bottom: 0px;
    font-size: 18px;
    color: black !important;

}

.nav a:hover {
     overflow: hidden;
     transition: 0.7s;
     color: red !important;
     border-bottom: 1px solid red;
     box-sizing: border-box;

}
 .nav #gallery {
     border-right: 1px solid red;
     margin-right: 2px;
 }



/* Mobile device */
@media only screen and (max-width:688px) {
    .logo-img {
        width: 35%;
    }
    .nav a{
      
        width: 20%;
      
    }
    .nav #gallery {
        border-right: none;
       
       
    }
    
}


/* Tab */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .logo-img {
        width: 25%;
    }
     .nav a {
            width: 20%;
      
     }

     .nav #contact {
         border-right: none;

     }
}

/* @media only screen and (min-width: 993px) {
    .logo-img {
        width: 15%;
        
    }
    .nav #contact {
        box-sizing: border-box;
        border-right: 1px solid red;
        margin-right: 2px;
    }
} */